<h1>Hi <%= @user.names %> <%= @user.last_names %></h1>
<p> Thanks for registering, your credentials are: </p>
<ul>
  <li>email: <%= @user.email %></li>
  <li>password: <%= @user.password %></li>
</ul>
